@model FileUpload.Models.Section

@{
    ViewData["Title"] = "Details";
}

    <h2>Section @Model.Name</h2>

<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="dl-horizontal" style="table-layout:fixed;width:100%">
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @foreach (byte part in Model.Size)
            {
                @part.ToString("X2")
            }
            <!--@Html.DisplayFor(model => model.Size)-->
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vaddr)
        </dt>
        <dd>
            @foreach (byte part in Model.Vaddr)
            {
                @part.ToString("X2")
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total_sz)
        </dt>
        <dd>
            @foreach (byte part in Model.Total_sz)
            {
                @part.ToString("X2")
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd style="word-wrap:break-word">
            @foreach (byte part in Model.content)
            {
                @part.ToString("X2")
            }
        </dd>
    </dl>
</div>
<div>
    <a href="javascript:history.go(-1)">Back to List</a>
</div>
